body{
  background: black;
  color: white;
  font-family: Helvatica;
  margin: 0;
  padding: 0;
}

header{
  background: : black;
  padding:20 px;
}

ul{
  list-style-type: none;
}

.child1{
  background: black;
  color: white;
}
.child2{
  background: black;
  color: white;
}
.child3{
  background: black;
  color: white;
}


#main-footer{
	background: #333;
	color: #fff;
	text-align: center;
	padding: 20px;
	margin-top: 40px;
}
